.vs
/Skillfactory/C#/Module 8/Task2/obj/Debug/net5.0
/Skillfactory/C#/Module 8/Task2/obj
/Skillfactory/C#/Module 8/Task3/obj/Debug/net5.0
/Skillfactory/C#/Module 8/Task3/obj
*.sln
/Skillfactory/C#/Module 8/Task4/obj
/Skillfactory/C#/Module 8/Task4/bin/Debug/net5.0
